NEXT_PUBLIC_SITE_URL=https://mbm-designs.vercel.app
SUPABASE_PROJECT_ID=lqcwnmfsifzjluniqtlw
NEXT_PUBLIC_SUPABASE_URL=https://lqcwnmfsifzjluniqtlw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxY3dubWZzaWZ6amx1bmlxdGx3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxODY5ODIsImV4cCI6MjA4ODc2Mjk4Mn0.oDAEiD9d3T9MokASFbW083gMmCIVTSr10sWZ9CHUftY
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_a6cpg36ZCJ_jP6h-xqRXyA_lbAuqKGv
